In [20]:
import model_with_drop

In [21]:
from model_with_drop import data

In [22]:
print(data)

           Close
0     166.899994
1     170.100006
2     179.899994
3     181.050003
4     181.500000
...          ...
1972  337.950012
1973  338.549988
1974  335.250000
1975  328.899994
1976  330.350006

[1971 rows x 1 columns]

In [14]:
data1=np.ravel(test_predict)
df_pred = pd.DataFrame(data1, columns=['Close_pred'])

In [15]:
df_actual=data.iloc[len(data)-len(df_pred):]
df_actual=df_actual.copy()

In [16]:
df_actual.rename(columns={'Close': 'Close_actual'}, inplace=True)

In [17]:
df_pred.reset_index(drop=True, inplace=True)
df_actual.reset_index(drop=True, inplace=True)
combined_df = df_pred.join(df_actual)
combined_df

     Close_pred  Close_actual
0    305.008118    299.950012
1    305.314941    298.600006
2    303.894684    297.250000
3    301.778900    300.299988
4    299.525543    304.149994
..          ...           ...
398  366.833923    337.950012
399  360.285919    338.549988
400  352.134186    335.250000
401  345.078369    328.899994
402  339.264587    330.350006

[403 rows x 2 columns]